<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronolog</title>
</head>
<body>
    <h1>Welcome to Chronolog</h1>
    <p>Want to see what you got done this week?</p>

    <a href="<%= loginLink %>">Log in with Google</a>
</body>
</html>